
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'user.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'user.tabPan' | translate}}">
                <div class="grid">
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="1">{{'user.credentialsNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="1"  [disabled]="true" [(ngModel)]="item.credentialsNonExpired"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="2">{{'user.enabled' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="2"  [disabled]="true" [(ngModel)]="item.enabled"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'user.email' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'user.email' | translate}}" autofocus  id="3" [(ngModel)]="item.email">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="4">{{'user.accountNonExpired' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="4"  [disabled]="true" [(ngModel)]="item.accountNonExpired"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="5">{{'user.accountNonLocked' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="item.accountNonLocked"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'user.username' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'user.username' | translate}}" autofocus  id="6" [(ngModel)]="item.username">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'user.password' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'user.password' | translate}}" autofocus  id="7" [(ngModel)]="item.password">
                    </div>
                    <div class="field align-inputswitch col-12  md:col-6">
                        <div  class="label-inputswitch">
                            <label for="8">{{'user.passwordChanged' | translate}}</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="item.passwordChanged"></p-inputSwitch>
                        </div>
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'user.modelPermissionUsers' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.modelPermissionUsers" sortField="modelPermission.reference" sortMode="single" dataKey="modelPermission.reference" rowGroupMode="subheader" groupRowsBy="modelPermission.reference" scrollHeight="500px" [tableStyle]="{'min-width': '70rem'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:25%">Model Permission</th>
                                        <th style="width:25%">Action Permission</th>
                                        <th style="width:25%">Value</th>
                                        <th style="width:25%">Sub Atribute</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="groupheader" let-p let-rowIndex="rowIndex" let-expanded="expanded">
                                    <tr>
                                        <td colspan="5">
                                            <button type="button" pButton pRipple [pRowToggler]="p" class="p-button-text p-button-rounded p-button-plain mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                                            <span class="font-bold ml-2">{{p.modelPermission?.reference}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="rowexpansion" let-p let-rowIndex="rowIndex">
                                    <tr>
                                        <td></td>
                                        <td>{{p.actionPermission?.reference}}</td>
                                        <td>
                                            <div class="input-switch">
                                                <p-inputSwitch id="10" [disabled]="true" [(ngModel)]="p.value"></p-inputSwitch>
                                            </div>
                                        </td>
                                        <td>{{p.subAttribute}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="grid-footer">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



