
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'entiteAdministrative.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'entiteAdministrative.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'entiteAdministrative.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entiteAdministrative.code' | translate}}" autofocus  id="1" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'entiteAdministrative.description' | translate}}</label>
                        <textarea id="2" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'entiteAdministrative.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'entiteAdministrative.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entiteAdministrative.libelle' | translate}}" autofocus  id="3" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'entiteAdministrative.chef' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entiteAdministrative.chef' | translate}}" autofocus  id="4" [ngModel]="item.chef?.id">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'entiteAdministrative.entiteAdministrativeType' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entiteAdministrative.entiteAdministrativeType' | translate}}" autofocus  id="5" [ngModel]="item.entiteAdministrativeType?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'entiteAdministrative.abonne' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'entiteAdministrative.abonne' | translate}}" autofocus  id="6" [ngModel]="item.abonne?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



