<div class="landingpage">

<!--
  - #HEADER
-->

<header class="header" data-header>
    <div class="container">

        <div class="overlay" data-overlay></div>

        <a href="#" class="logo">
            <img src="./assets/images/logo.svg" alt="IDOC">
        </a>

        <button class="menu-open-btn" data-menu-open-btn>
            <i class="fa-regular fa-bars"></i>
        </button>

        <nav class="navbar" data-navbar>

            <button class="menu-close-btn" data-menu-close-btn>
                <i class="fa-solid fa-xmark-large"></i>
            </button>

            <a href="#" class="logo">
                <img src="./assets/images/logo.svg" alt="IDOC logo">
            </a>

            <ul class="navbar-list">

                <li>
                    <a href="#Home" class="navbar-link">Home</a>
                </li>

                <li>
                    <a href="#About" class="navbar-link">About</a>
                </li>

                <li>
                    <a href="#Service" class="navbar-link">Service</a>
                </li>



                <li>
                    <a href="#Contact" class="navbar-link">Contact</a>
                </li>

            </ul>

            <button  routerLink="admin/login"  class="btn btn-secondary">Sign In </button>
            <button  routerLink="admin/register"   class="btn btn-primary">Sign Up</button>


        </nav>

    </div>
</header>





<main>
    <article>

        <!--
          - #HERO
        -->

        <section id="Home" class="hero">
            <div class="container">

                <figure class="hero-banner">
                    <img src="./assets/images/de.png" alt="hh">
                </figure>

                <div class="hero-content">

                    <h1 class="h1 hero-title">Next Level Document Archiving </h1>

                    <p class="section-text">
                        Exploitez pleinement le potentiel de vos documents
                        et accédez, gérez vos documents en toute sécurité.
                    </p>

                    <button class="btn btn-primary">Discover More</button>

                </div>

            </div>
        </section>





        <!--
          - #ABOUT
        -->

        <section id="About" class="about">
            <div class="container">

                <figure class="about-banner">

                    <img src="./assets/images/gg.png" alt="Documents" class="about-img">

                    <img src="./assets/images/about-vector.svg" alt="Vector line art" class="vector-line">


                </figure>

                <div class="about-content">

                    <h2 class="h2 about-title">We Help to Create, Organize & Share Your Work Documents!</h2>

                    <p class="section-text">
                        With iDoc, you can create, organize, and securely share your documents,
                        maximizing productivity, saving time and effort, and optimizing your workflow.We aim to
                        streamlines your document management,
                        ensuring your business operates at its most efficient.
                    </p>

                    <button class="btn btn-primary">Get Started Today</button>

                </div>

            </div>
        </section>





        <!--
          - #DEPARTMENTS
        -->

        <section id="Service" class="departments">
            <div class="container">

                <img src="./assets/images/departmets-vector.svg" alt="Vector line art" class="vector-line">

                <h2 class="h2 departments-title">We Have Most of needed Services</h2>

                <ul class="departments-list">

                    <li>
                        <div class="departments-card">

                            <a href="#" class="card-banner">
                                <figure>
                                    <img src="./assets/images/cloud-storage.png" alt="Doc">
                                </figure>
                            </a>

                            <a href="#">
                                <h3 class="h3 card-title">FREE CLOUD STORAGE</h3>
                            </a>

                            <p class="card-text">

                                Notre gamme de services comprend le stockage sécurisé de documents, d'images et de courriers électroniques..., offrant à nos clients un espace fiable pour conserver et gérer leurs données importantes. En plus du stockage, nous proposons également des services de numérisation d'images, permettant la conversion précise et efficace de documents physiques en formats numériques, facilitant ainsi la gestion et le partage des informations."









                            </p>

                            <a href="#" class="card-link">
                                <span>Learn More</span>


                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="departments-card">

                            <a href="#" class="card-banner">
                                <figure>
                                    <img src="./assets/images/archve.png" alt="Doc">
                                </figure>
                            </a>

                            <a href="#">
                                <h3 class="h3 card-title">L'archivage</h3>
                            </a>

                            <p class="card-text">

                                L'archivage électronique consiste à stocker des documents numériques de manière organisée et sécurisée afin de garantir leur pérennité, leur intégrité et leur accessibilité sur le long terme. Cela inclut les documents légaux, financiers, commerciaux, et autres types de documents critiques pour une organisation.

                            </p>

                            <a href="#" class="card-link">
                                <span>Learn More
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </span>
                            </a>

                        </div>
                    </li>

                    <li>
                        <div class="departments-card">

                            <a href="#" class="card-banner">
                                <figure>
                                    <img src="./assets/images/digitalisation.png" alt="Doc Studies">
                                </figure>
                            </a>

                            <a href="#">
                                <h3 class="h3 card-title">Digitalisation</h3>
                            </a>

                            <p class="card-text">
                                La digitalisation a donc pour fonction d’organiser et de gérer des informations et des documents au sein d’une entreprise ou d’un établissement public. Cette méthode d’archivage se fait grâce à des scanners qui convertissent en images numériques vos courriers, documents de gestion... Une fois numérisés, ces documents sont consultables sous forme d’images ou de textes.
                            </p>

                            <a href="#" class="card-link">
                                <span>Learn More</span>
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>

                        </div>
                    </li>

                </ul>

                <button class="btn btn-primary">View All Services</button>

            </div>
        </section>











        <!--
          - #CTA
        -->

        <section class="cta">
            <div class="container">

                <div class="title-wrapper">

                    <h2 class="h2 cta-title">
                        <span>Create Free Account & Get Register</span>

                        <img src="./assets/images/cta-vector.svg" alt="Vector arrow art" class="vector-line">
                    </h2>

                    <button  routerLink="admin/register"   class="btn btn-primary">Register Now</button>

                </div>

                <div class="cta-banner"></div>

            </div>
        </section>

    </article>
</main>





<!--
  - #FOOTER
-->

<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand">

                <a href="#" class="logo">
                    <img src="./assets/images/logo.svg" alt="IDOC logo">
                </a>

                <p class="footer-text">
                    Efficient Services for satisfied clients.
                </p>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>

                </ul>

            </div>

            <div class="footer-link-box">

                <ul class="footer-list">

                    <li>
                        <p class="footer-link-title">Archiving</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Classifying</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Scanning</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Lorum</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Lorum ipsum</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-link-title">Company</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Careers</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-link-title">Job Info</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Select</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Services</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Payment</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-link-title">Contact</p>
                    </li>

                    <li class="contact-item">
                        <span>Call : </span>

                        <a href="tel:706239069" class="contact-link">06 34 53 65 76</a>
                    </li>

                    <li class="contact-item">
                        <span>Email : </span>

                        <a href="mailto:essaadihamza3@gmail.com" class="contact-link">imranlakrd3@gmail.com</a>
                    </li>

                    <li class="contact-item">
                        <span>Address : </span>

                        <a href="#" class="contact-link">
                            <address>Marrakech, MOROCCO</address>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="copyright">
                &copy; 2024 <a href="">U_Web</a>. All right reserved
            </p>
        </div>
    </div>

</footer>





<!--
  - #GO TO TOP
-->

<a href="#top" class="go-top" data-go-top>
    <i class="fa-sharp fa-solid fa-arrow-up"></i>
</a>

</div>
