        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'role.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'role.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'role.authority' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'role.authority' | translate}}" id="1" [(ngModel)]="item.authority"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validRoleAuthority}"  />
                                                    <small class='p-error' *ngIf='!validRoleAuthority'>Authority est obligatoire.</small>
                                                </div>



                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>


            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>

                    <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>


    </p-dialog>
