
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'groupe.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'groupe.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'groupe.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupe.code' | translate}}" autofocus  id="1" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'groupe.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupe.libelle' | translate}}" autofocus  id="2" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'groupe.utilisateur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'groupe.utilisateur' | translate}}" autofocus  id="3" [ngModel]="item.utilisateur?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



